body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#root {
  text-align: center;
}

h1 {
  font-size: 24px;
  display: block;
  margin: 10px 70px;

}

#count {
  font-weight: bold;
  
}

button {

  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: pink;
  color: black;
  cursor: pointer;
}

button:hover {
  background-color: rgb(247, 213, 219);
}
.Box{
  background-color: lightblue;
  margin: 10px 10px;
  padding: 75px 8px;
  border: none;
  border-radius: 50px;
  box-shadow: 2px 2px 30px 5px pink;
}
